<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item17</key>
	<dict>
		<key>ItemImg</key>
		<string>014</string>
		<key>ItemName</key>
		<string>POS设置</string>
	</dict>
	<key>Item16</key>
	<dict>
		<key>ItemImg</key>
		<string>20</string>
		<key>ItemName</key>
		<string>结账方式</string>
	</dict>
	<key>Item15</key>
	<dict>
		<key>ItemImg</key>
		<string>016</string>
		<key>ItemName</key>
		<string>充值规则</string>
	</dict>
	<key>Item14</key>
	<dict>
		<key>ItemImg</key>
		<string>015</string>
		<key>ItemName</key>
		<string>后厨打印机</string>
	</dict>
	<key>Item0</key>
	<dict>
		<key>ItemImg</key>
		<string>001</string>
		<key>ItemName</key>
		<string>iPad注册</string>
	</dict>
	<key>Item1</key>
	<dict>
		<key>ItemImg</key>
		<string>002</string>
		<key>ItemName</key>
		<string>PC端注册</string>
	</dict>
	<key>Item2</key>
	<dict>
		<key>ItemImg</key>
		<string>003</string>
		<key>ItemName</key>
		<string>区域/楼层</string>
	</dict>
	<key>Item3</key>
	<dict>
		<key>ItemImg</key>
		<string>004</string>
		<key>ItemName</key>
		<string>房台类型</string>
	</dict>
	<key>Item4</key>
	<dict>
		<key>ItemImg</key>
		<string>005</string>
		<key>ItemName</key>
		<string>房台资料</string>
	</dict>
	<key>Item5</key>
	<dict>
		<key>ItemImg</key>
		<string>006</string>
		<key>ItemName</key>
		<string>口味分类</string>
	</dict>
	<key>Item6</key>
	<dict>
		<key>ItemImg</key>
		<string>007</string>
		<key>ItemName</key>
		<string>口味要求</string>
	</dict>
	<key>Item7</key>
	<dict>
		<key>ItemImg</key>
		<string>008</string>
		<key>ItemName</key>
		<string>班次</string>
	</dict>
	<key>Item8</key>
	<dict>
		<key>ItemImg</key>
		<string>009</string>
		<key>ItemName</key>
		<string>折扣</string>
	</dict>
	<key>Item9</key>
	<dict>
		<key>ItemImg</key>
		<string>010</string>
		<key>ItemName</key>
		<string>预订时间表</string>
	</dict>
	<key>Item10</key>
	<dict>
		<key>ItemImg</key>
		<string>011</string>
		<key>ItemName</key>
		<string>配送时间表</string>
	</dict>
	<key>Item11</key>
	<dict>
		<key>ItemImg</key>
		<string>012</string>
		<key>ItemName</key>
		<string>交班报表</string>
	</dict>
	<key>Item12</key>
	<dict>
		<key>ItemImg</key>
		<string>013</string>
		<key>ItemName</key>
		<string>日结报表</string>
	</dict>
	<key>Item13</key>
	<dict>
		<key>ItemImg</key>
		<string>023</string>
		<key>ItemName</key>
		<string>电子秤设置</string>
	</dict>
</dict>
</plist>
